.main-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.map-area, .info-area {
    background-color: grey;
    width: 40%;
    padding: 2%;
    margin: 2%;
    box-sizing: border-box; 
    height: 500px;
}

.map-area {
    height: auto;
}

.info-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interactive {
    background-color: lightgrey;
    width: 84%;
    padding: 2%;
    margin: 2%;
    box-sizing: border-box; 
    height: 300px 
}

